body {
    margin: 0 auto;
    width: 90%;
    background-color: #202020;
}

#top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #FFFFFF;
    background-color: #202020;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

#t1 {
    font-size: 50px;
    font-family: 'Metal Mania', cursive;
}

#top h1 {
    background: -webkit-linear-gradient(#f81717, rgb(145, 145, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px 0 5px 0;
}

.gifs {
    justify-content: space-between;
}

#music {
    width: 30%;
}

#img-f {
    width: 30%;
}

.player {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btplayer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    margin-bottom: 10px;
    margin-top: 10px;
}

audio {
    width: 100%;
}
.gifsbottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #FFFFFF;
    background-color: #202020;        
    text-align: center;
}
.gifsbottom img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}


.btn-r {
    border-radius: 0 8px 8px 0;
    color: #dc3545;
}

.btn-l {
    border-radius: 8px 0 0 8px;
    color: #198754;
}
.btn-c {
    border-radius: 8px 0 0 8px;
    color: #2f8af3;
}


.btn-g{
    border-radius: 8px 8px 8px 8px;
    margin: 0 3px 0 5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #198754;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}